body{
    background: $pink;
	background: linear-gradient(225deg, rgba(234, 99, 140, 1) 0%, rgba(254, 254, 254, 1) 33%, rgba(254, 254, 254, 1) 89%, rgba(8, 3, 87, 1) 100%);
	color: $violet;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: $desktop;
    min-width: 300px;
    width: auto;
}

/*.subpageHeader {
color: #B33C86;
}

.link {
	color: #454ADE;
	font-size: 13px;
}

.subpageArticleTitle{
    color: #EA638C;
}

.subpageArticleText{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.subpageFooter, .subpageArticleFooter{
    color: #080357;
        font-size: 15px;
    font-style: italic;
}*/